@using Business.DTO
@using UI.Helpers
@{
    ViewData["Title"] = "Fatura Genel Liste";
    Layout = "_Layout2";
}
@model List<BillFlatDTO>

<h2>Ödenmemiş Faturalar</h2>




<form asp-action="BillListUnPaid" method="get">
    <div class="form-actions no-color">

        <div class=row>

            <div class="col-md-2">
                <div class="form-group">
                    <label>Yıl</label>

                    <input type="hidden" id="Yearidhidden" value="@ViewData["CurrentFilterYearid"]" />

                    <select name="Yearid" id="Yearid" class="form-control">
                        @foreach (KodDTO item in @ViewBag.Years)
                        {
                            <option value="@item.Id">@item.Name</option>
                        }
                    </select>



                </div>
            </div>

            <div class="col-md-2">
                <div class="form-group">
                    <label>Ay</label>

                    <input type="hidden" id="Mountidhidden" value="@ViewData["CurrentFilterMountid"]" />
                    <select name="Mountid" id="Mountid" class="form-control">
                        @foreach (KodDTO item in @ViewBag.Mounts)
                        {
                            <option value="@item.Id">@item.Name</option>
                        }

                    </select>

                </div>
            </div>


            <div class="col-md-2" style="padding-left:0px; padding-right:0px;">
                <div class="form-group">
                    <label>&nbsp</label><br />
                    <input type="submit" value="Ara" class="btn btn-success" style="float:left" />
                </div>
            </div>
        </div>



    </div>

</form>

<table class="table table-hover">
    <thead>
        <tr>

            <th scope="col">
                @* <a asp-action="BillList" asp-route-billId="@ViewBag.BillId" asp-route-sortOrder="@ViewData["BlockSortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">Daire</a>*@
                Daire
            </th>
            <th scope="col">
                Fatura Tip
            </th>
            <th scope="col">
                Fatura Tutar
            </th>
            <th scope="col">
                Açıklama
            </th>
            <th scope="col">
                Ödeme Durumu
            </th>
            <th>
                İşlem
            </th>



        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>

                <td class="Flat">
                    @(item.FlatDTO.BlockName + " .Blok " + @item.FlatDTO.Floor + " .Kat No:" + @item.FlatDTO.No )
                </td>
                <td class="BillTypeName">
                    @item.BillDTO.BillTypeName
                </td>
                <td class="Amount">
                    @item.Amount
                </td>
                <td class="Description">
                    @item.Description
                </td>
                <td class="Paid">
                    @if (item.IsPaid)
                    {
                        <span style='color:green;'>Ödendi</span>
                    }
                    else
                    {
                        <span style='color:Red;'>Ödenmedi</span>
                    }


                </td>
                <td>
                    <button type="button" class="btn btn-success btnOdeme" data-billflatid="@item.Id">Ödeme Yap</button>
                </td>


            </tr>
        }
    </tbody>
</table>








@section Scripts {

    <script type="text/javascript">

        $(document).ready(function () {

            $("#Yearid").val($("#Yearidhidden").val());
            $("#Mountid").val($("#Mountidhidden").val());

            
            $(document).on('click', '.btnOdeme', function () {
                var clickedbutton = $(this);
                let id = $(this).data("billflatid");

                var data = { id: id }

                console.log(id);
               

                $.ajax({
                    ContentType: 'application/json; charset=utf-8',
                    type: 'POST',
                    url: '/ResidentUser/Pay',
                    dataType: 'json',
                    data: data,
                    success: function (result) {
                        if (result.isSuccess) {

                            clickedbutton.parent().parent().children(".Paid").html("<span style='color:green;'>Ödendi</span>");
                            clickedbutton.remove();
                 
                        } else {

                            alert(result.errorMessage);
                         
                        }
                    },
                    error: function (xhr, ajaxOptions, thrownError) {
                        alert(xhr.status);
                        alert(thrownError);
                    }
                })

            });


        });

    </script>

}




