@using Business.DTO
@{
    ViewData["Title"] = "Kullanıcı İşlemleri";
    Layout = "_Layout2";
}
@model UserCarDTO
    <head>
        <link rel="stylesheet" type="text/css" href="~/lib/DataTable/datatables.min.css" />
    </head>

    <div class="row" style="margin-top:50px; margin-bottom:50px;">
        <div class="col-md-12">
            <p id="pPageMesaj"></p>
        </div>
    </div>



    <table id="UserListTable" class="table table-hover">
        <thead>
            <tr>
                <th scope="col">Ad Soyad</th>
                <th scope="col">EPosta</th>
                <th scope="col">Telefon</th>
                <th scope="col">Araç</th>
                <th scope="col"></th>

            </tr>
        </thead>
        <tbody>

        @foreach (var user in Model.Users)
        {
                <tr>
                    <td class="FirstName">@user.FirstName @user.LastName</td>
                    <td class="Email">@user.Email</td>
                    <td class="PhoneNumber">@user.PhoneNumber</td>
                    <td class="Cars">
                        <table class="table table-hover CarListTable">
                            
                    @foreach(var arac in user.Cars)
                    {
                        <tr>
                            <td class="AracAciklama">@arac.Aciklama</td>
                            <td class="AracPlaka">@arac.Plaka</td>
                            <td style="float: right;">
                                <button type="button" class="btn btn-primary btnUpdate" data-userid="@user.Id" data-id="@arac.Id">Güncelle</button>
                                <button type="button" class="btn btn-danger btnDelete" data-userid="@user.Id" data-id="@arac.Id">Sil</button>
                            </td>
                        </tr>

                    }
                       </table>
                </td>
                    <td class="newCar">
                        <button type="button" class="btn btn-info btnAdd" data-userid="@user.Id"> + Ekle</button>
                    
                    </td>
                </tr>

        }
        </tbody>
    </table>

    <!-- Modal Add -->
    <div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <form id="CarForm">
                @Html.AntiForgeryToken()

                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">Yeni kullanıcı</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">

                        <input asp-for=@Model.CarForAddUpdate.UserId id="UserId" type="hidden" value=""/>
                        <input asp-for="@Model.CarForAddUpdate.Id" id="Id" type="hidden" value="0">

                        <div class="form-group">
                            <label>Açıklama</label>
                            <input asp-for="@Model.CarForAddUpdate.Aciklama" id="Aciklama" type="text" class="form-control" placeholder="Açıklama">
                        @Html.ValidationMessageFor(model => model.CarForAddUpdate.Aciklama,"", new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            <label>Plaka</label>
                            <input asp-for="@Model.CarForAddUpdate.Plaka" id="Plaka" type="text" class="form-control" placeholder="Plaka">
                        @Html.ValidationMessageFor(model => model.CarForAddUpdate.Plaka, "", new { @class = "text-danger" })
                        </div>             

                        <div style="min-height:40px">
                            <p id="pMesajModal"></p>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Kapat</button>
                        <button type="submit" class="btn btn-info" id="btnSubmit">Ekle</button>
                    </div>

                </form>

            </div>
        </div>
    </div>



    @section Scripts {
    <script src="~/lib/DataTable/datatables.min.js"></script>

    <script type="text/javascript">
        var table;
        var clickedRow;
        var clickedButton;
        $(document).ready( function () {

            //Data Table initilation
           table = $('#UserListTable').DataTable({
                 "lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "Tümü"]],
                  //"language": {"url": "/lib/DataTable/Turkish.json"}
                  "language": {"url": "https://cdn.datatables.net/plug-ins/1.10.20/i18n/Turkish.json"}
               });

                  //$('.CarListTable').DataTable({ 
                  //      "paging":   false,
                  //      "ordering": false,
                  //      "info":     false,
                  //      "searching": false
                  //  });


            $(document).on('click','.btnAdd', function(){
                clickedButton = $(this);
                //clickedRow = $(this).parent();                
                    
                    let userid = $(this).data("userid");        
                    modalEmpty(0,userid);
                    $('#modal').modal();
            });


            $(document).on('click','.btnUpdate', function(){
                clickedButton = $(this);
                //clickedRow = $(this).parent();    

                    let id = $(this).data("id");
                    let userid = $(this).data("userid");

                  
                    modalEmpty(id,userid);
                    getCarForUpdate(id);
            });



            $(document).on('click','.btnDelete', function(){
              if (confirm('Araç Bilgisini Silmek İstediğinizden Emin Misiniz?')) {
                  clickedButton = $(this);
                  //clickedRow = $(this).parent();
                   let id = $(this).data("id");
                   deleteCar(id);
                }
            });



            $( "#btnSubmit").on( "click", function(e) {
                 e.preventDefault();

                $('#CarForm').validate();

                if ($('#CarForm').valid()) {
                  addOrUpdateCar();
                }
            });

        });
                function modalEmpty(id, userid){
                    $('.field-validation-error').empty();//Daha önce validasyon mesajları gösterilmiş ise onları burada kaldırıyoruz.

                    $("#Aciklama").val("");
                    $("#Plaka").val("");
                    $("#Id").val(id);
                    $("#UserId").val(userid);       
                    
                    if(id==0){
                        $('#btnSubmit').html("Ekle");
                         $('#btnSubmit').removeClass("btn-primary").addClass("btn-info");
                    }else{
                          $('#btnSubmit').html("Güncelle");
                          $('#btnSubmit').removeClass("btn-info").addClass("btn-primary");
                    }
                }


                function getCarForUpdate(id) {

                        $.ajax({
                                type: 'POST',
                                url: '/User/GetCar',
                                contentType: 'application/x-www-form-urlencoded; charset=UTF-8', // when we use .serialize() this generates the data in query string format. this needs the default contentType (default content type is: contentType: 'application/x-www-form-urlencoded; charset=UTF-8') so it is optional, you can remove it
                                data: { id: id },
                                success: function (result) {

                          
                                    if(result.isSuccess){

                                 

                                        $("#UserId").val(result.data.userId);
                                        $("#Id").val(result.data.id);
                                        $("#Aciklama").val(result.data.aciklama);
                                        $("#Plaka").val(result.data.plaka);                         

                                        $('#modal').modal();
                                    }else{

                                         $("#pUpdateMesajiModal").text(result.errorMessage);
                                         $("#pUpdateMesajiModal").css("color", "red");
                                    }
                                },
                                error: function (xhr, ajaxOptions, thrownError) {
                                     alert(xhr.status );
                                     alert(thrownError);
                                     $("#pUpdateMesajiModal").text("Hata! Tekrar deneyiniz. Hata almaya devam ediyorsanız; Lütfen yöneticinizle iletişime geçiniz!");
                                     $("#pUpdateMesajiModal").css("color", "red");
                                }
                            })
                }

                var SetTimeOutId;
                function addOrUpdateCar() {

                        $("#pMesajModal").text("");

                        let aracId = $('#Id').val();
                       
                        let url ='/User/AddCar';
                        if(aracId>0){url ='/User/UpdateCar'}

                        let data = $("#CarForm").serialize();
                      
                        $.ajax({
                                type: 'POST',
                                url: url,
                                dataType: 'json',
                                //contentType: 'application/x-www-form-urlencoded; charset=UTF-8', // when we use .serialize() this generates the data in query string format. this needs the default contentType (default content type is: contentType: 'application/x-www-form-urlencoded; charset=UTF-8') so it is optional, you can remove it
                                data: data,
                                success: function (result) {
                                         if(result.isSuccess)
                                        {
                                         
                                              $("#pMesajModal").text(result.successMessage);
                                              $("#pMesajModal").css("color", "green");


                                              if(aracId==0)//insert işlemi
                                              {
                                      
                                              let tableAracCell = clickedButton.parent().parent().children( ".Cars" );                             

                                              let cell = table.cell(tableAracCell);

                                              let newRowOfCar = "<tr>" +                                              
                                                "<td class='AracAciklama'>" + result.data.aciklama +  "</td>" + 
                                                "<td class='AracPlaka'>" + result.data.plaka +  "</td>" + 
                                                "<td  style='float: right;'>" + 
                                                       "<button type='button' class='btn btn-primary btnUpdate' data-userid='"+result.data.userId+"' data-id='"+result.data.id+"'>Güncelle</button>"+
                                                       "<button type='button' class='btn btn-danger btnDelete' data-userid='" + result.data.userId+ "' data-id='"+result.data.id+"'>Sil</button>"+
                                                "</td>" + 
                                              "</tr>";
                                           



                                              tableAracCell.children("table").append(newRowOfCar);

                                              cell.data( tableAracCell.html() ).draw();
                                              }
                                              else//Update işlemi.
                                              {
                                                  let tableAracCell = clickedButton.parent().parent().parent().parent().parent();//.children( ".Cars" );      
                                                                                                
                                                  let cell = table.cell(tableAracCell);
                                      
                                                  clickedButton.parent().parent().children(".AracAciklama").html(result.data.aciklama);
                                                  clickedButton.parent().parent().children(".AracPlaka").html(result.data.plaka);

                                                  cell.data( tableAracCell.html() ).draw();

                                              }                                      

                                             SetTimeOutId =  setTimeout(function(){
                                                                            $('#modal').modal('hide');
                                                                            $("#pMesajModal").text("");
                                                                        }, 2500);
                                        }else{
                                  
                                             $("#pMesajModal").text(result.errorMessage);
                                             $("#pMesajModal").css("color", "red");
                                        }
                                },
                                 error: function (xhr, ajaxOptions, thrownError) {
                                     alert(xhr.status );
                                     alert(thrownError);
                                     $("#pMesajModal").text("Hata! Tekrar deneyiniz. Hata almaya devam ediyorsanız; Lütfen yöneticinizle iletişime geçiniz!");
                                     $("#pMesajModal").css("color", "red");
                                }
                            })
                }

                //Add model kapanma anı.Kullanıcı elle kapatırsa modalı settime out  iptal edilsin!
                $('#modal').on('hide.bs.modal', function () {
                    $("#pMesajModal").text("");
                    clearTimeout(SetTimeOutId);
                });

                
                function deleteCar(id) {
                        $("#pPageMesaj").text("");
       
                        $.ajax({
                                type: 'POST',
                                url: '/User/DeleteCar',
                                contentType: 'application/x-www-form-urlencoded; charset=UTF-8', // when we use .serialize() this generates the data in query string format. this needs the default contentType (default content type is: contentType: 'application/x-www-form-urlencoded; charset=UTF-8') so it is optional, you can remove it
                                data: { id: id },
                                success: function (result) {
                                    if(result.isSuccess)
                                    {
                                        $("#pPageMesaj").text(result.successMessage);
                                        $("#pPageMesaj").css("color", "green");
                                        //deleteButton.parent().parent().remove();//satırı sil
                                         let tableAracCell = clickedButton.parent().parent().parent().parent().parent();//.children( ".Cars" );                                                       
                                       
                                              
                                           let cell = table.cell(tableAracCell);

                                                  clickedButton.parent().parent().remove();        

                                                  cell.data( tableAracCell.html() ).draw();



                                        setTimeout(function(){ $("#pPageMesaj").text("");}, 3000);
                                    }else{
                                        $("#pPageMesaj").text(result.errorMessage);
                                        $("#pPageMesaj").css("color", "red");
                                    }
                                },
                                error: function () {
                                    $("#pPageMesaj").text("Silme işlemi sırasında hata alınmıştır. Hatayı almaya devam ederseniz lütfen yöneticinizle iletişime geçiniz!");
                                    $("#pPageMesaj").css("color", "red");
                                }
                            })
                }

    </script>

    }
