@using Business.DTO
@using UI.Helpers
@{
    ViewData["Title"] = "Mesajlar";
    Layout = "_Layout2";
}
@model UserMessageListDTO
<head>
    <link rel="stylesheet" type="text/css" href="~/lib/DataTable/datatables.min.css" />
</head>




<link href="~/css/Message.css" rel="stylesheet" />

<div class=row>
    <div class="col-md-12">
        <button style="float:right;" type="button" class="btn btn-danger btnAdd">Kullanıcı Ara</button>
    </div>


</div>

<div class="wrapper wrapper-content animated fadeInRight">

    <div class="row">
        <div class="col-lg-12">
            <div class="ibox chat-view">

                <div class="ibox-content">
                    <div class="row">
                        <div class="col-md-9 ">
                            <div id="chatdiscussion" class="chat-discussion" data-chatuserid="" data-chatuserlastmessageid="">
                            </div>

                        </div>
                        <div class="col-md-3">
                            <div class="chat-users">

                                <div class="users-list">

                                    @foreach (var item in Model.MessageUsers)
                                    {


                                        <div class="chat-user @(item.UnLookedMessagesCount > 0?"pale-green":"")">

                                            @if (String.IsNullOrEmpty(item.PictureUrl))
                                            {
                                                <img class="chat-avatar" src="~/images/EmptyUser.png" alt="User picture">
                                            }
                                            else
                                            {
                                                <img class="chat-avatar" src="@item.PictureUrl" alt="User picture">
                                            }

                                            <div class="chat-user-name">
                                                <span class="ChatUser" data-chatuserid="@item.Id">@(item.FirstName + " " + item.LastName)</span>

                                                <span class="ChatUserNotification">@(item.UnLookedMessagesCount > 0?"(" + item.UnLookedMessagesCount.ToString() + ")":"")</span>

                                            </div>
                                        </div>
                                    }

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row" id="bottomRow">
                        <div class="col-lg-10" style="padding-right:0;">
                            <div class="chat-message-form">
                                <div class="form-group">
                                    <textarea class="form-control message-input" id="message" placeholder=". . . "></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-2" style="padding-left:0;">
                            <div class="chat-message-form">
                                <div class="form-group">
                                    <button type="button" class="btn btn-secondary" style="width:100%;height: 90px !important;" id="SendMessage">Gönder</button>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">


            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Yeni Daire</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">



                <table id="UserListTable" class="table table-hover">
                    <thead>
                        <tr>
                            <th scope="col">Ad Soyad</th>
                            <th scope="col">Rol</th>
                            <th scope="col"></th>

                        </tr>
                    </thead>
                    <tbody>

                        @foreach (var user in Model.Users)
                        {
                            <tr>
                                <td class="">@user.FirstName @user.LastName</td>
                                <td class="">@String.Join(",", user.Roles.Select(x => x.Name).ToList())</td>
                                <td class="">
                                    <button type="button" class="btn btn-success btnSohbetAc" data-userid="@user.Id" data-firstname="@user.FirstName" data-lastname="@user.LastName"> Listeye Ekle</button>
                                </td>
                            </tr>

                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    <script src="~/lib/DataTable/datatables.min.js"></script>

    <script type="text/javascript">


        var chatUserId = 0;
        var clickedUserElement;
        var chatDiscussionElement;


        $(document).ready(function () {

            let table = $('#UserListTable').DataTable({
                "lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "Tümü"]],
                //"language": {"url": "/lib/DataTable/Turkish.json"}
                "language": { "url": "https://cdn.datatables.net/plug-ins/1.10.20/i18n/Turkish.json" }
            });


            $(".btnAdd").on("click", function () {
                $('#modal').modal();
            });


            $(".btnSohbetAc").on("click", function () {

                console.log($(this).data("userid"));
                console.log($(this).data("firstname"));
                console.log($(this).data("lastname"));

                let DahaOnceEklenmisMi = $(".ChatUser[data-chatuserid='" + $(this).data("userid") + "']").length;

                console.log(DahaOnceEklenmisMi);

                if (DahaOnceEklenmisMi == 0) {

                    let element =
                        "<div class='chat-user'>" +
                        "<img class='chat-avatar' src='/images/EmptyUser.png' alt='User picture'>" +
                        "<div class='chat-user-name'>" +
                        "<span class='ChatUser' data-chatuserid='" + $(this).data("userid") + "'>" + $(this).data("firstname") + " " + $(this).data("lastname") + "</span>" +
                        "<span class='ChatUserNotification'></span>" +
                        "</div>" +
                        "</div>";

                    $(".users-list").prepend(element);
                    $('#modal').modal('hide');

                } else {
                    alert("Seçilen kullanıcı listede zaten var.");
                }



            });

            chatDiscussionElement = $(".chat-discussion");

            $(document).on('click', '.ChatUser', function () {
                clickedUserElement = $(this);
                chatUserId = $(this).data("chatuserid");
                chatDiscussionElement.attr("data-chatuserid", chatUserId);



                chatDiscussionElement.html('');


                var data = { chatuserid: chatUserId }

                //console.log(chatUserId);


                $.ajax({
                    ContentType: 'application/json; charset=utf-8',
                    type: 'POST',
                    url: '/Message/Messages',
                    dataType: 'json',
                    data: data,
                    success: function (result) {
                        if (result.isSuccess) {

                            // console.log(result.data);
                            let chatuserlastmessageid = chatDiscussionElement.data("chatuserlastmessageid");

                            $.each(result.data, function (index, data) {


                                if (data.sendUserId == chatUserId)//Mesaj bana gelmiş
                                {
                                    console.log("chatuserlastmessageid = " + chatuserlastmessageid);
                                    console.log(data.id);
                                    console.log(chatDiscussionElement);


                                    if (data.id > chatuserlastmessageid) { chatuserlastmessageid = data.id; }

                                    let message =
                                        "<div class='chat-message left'>" +
                                        "<img class='message-avatar' src='/images/EmptyUser.png' alt=''>" +
                                        "<div class='message'>" +
                                        "<a class='message-author' href='#'>" + clickedUserElement.text() + "</a>" +
                                        "<span class='message-date'>" + data.dateCreated + "</span>" +
                                        "<span class='message-content'>" +
                                        data.text +
                                        "</span>" +
                                        "</div>" +
                                        "</div>"

                                    chatDiscussionElement.append(message);


                                }
                                else//Benim gönderdiğim mesaj.
                                {



                                    let message =
                                        "<div class='chat-message right'>" +
                                        "<img class='message-avatar' src='/images/EmptyUser.png' alt=''>" +
                                        "<div class='message'>" +
                                        "<a class='message-author' href='#'>" + "Ben" + "</a>" +
                                        "<span class='message-date'>" + data.dateCreated + "</span>" +
                                        "<span class='message-content'>" +
                                        data.text +
                                        "</span>" +
                                        "</div>" +
                                        "</div>"

                                    chatDiscussionElement.append(message);
                                }
                            });

                            chatDiscussionElement.attr("data-chatuserlastmessageid", chatuserlastmessageid);

                            scrollBottom(0);

                            clickedUserElement.parent().children(".ChatUserNotification").text("");
                            $(".light-grey").removeClass("light-grey");
                            clickedUserElement.parent().parent().removeClass("pale-green").addClass("light-grey");






                        } else {

                            alert(result.errorMessage);

                        }
                    },
                    error: function (xhr, ajaxOptions, thrownError) {
                        alert(xhr.status);
                        alert(thrownError);
                    }
                })

            });

            $("#SendMessage").on("click", function () {

                //let receiverUserId = chatDiscussionElement.data("chatuserid");
                let receiverUserId            = chatdiscussion.dataset.chatuserid;
                let text = $("#message").val();

                var data = { receiverUserId: receiverUserId, text: text }


                $.ajax({
                    type: 'POST',
                    url: '/Message/AddMessage',
                    dataType: 'json',
                    data: data,
                    success: function (result) {
                        if (result.isSuccess) {

                            $("#message").val('');

                            let message =
                                "<div class='chat-message right'>" +
                                "<img class='message-avatar' src='/images/EmptyUser.png' alt=''>" +
                                "<div class='message'>" +
                                "<a class='message-author' href='#'>" + "Ben" + "</a>" +
                                "<span class='message-date'>" + result.data.dateCreated + "</span>" +
                                "<span class='message-content'>" +
                                result.data.text +
                                "</span>" +
                                "</div>" +
                                "</div>"

                            chatDiscussionElement.append(message);

                            scrollBottom(1000);

                        } else {
                            alert(result.errorMessage);

                        }
                    },
                    error: function (xhr, ajaxOptions, thrownError) {
                        alert(xhr.status);
                        alert(thrownError);

                    }
                })
            });

            //5 saniyede bir kontrol et mesaj geliyormu diye
            setInterval(checkChatUserMessage, 5000);

        });

        function scrollBottom(time) {
            chatDiscussionElement.animate({ scrollTop: chatDiscussionElement.prop("scrollHeight") }, time);
        }

        function checkChatUserMessage() {

            const chatdiscussion = document.getElementById("chatdiscussion");

            let chatuserlastmessageid = chatdiscussion.dataset.chatuserlastmessageid;
            let chatUserId = chatdiscussion.dataset.chatuserid;


            var data = { chatUserId: chatUserId, chatuserlastmessageid: chatuserlastmessageid }

            $.ajax({
                ContentType: 'application/json; charset=utf-8',
                type: 'POST',
                url: '/Message/ChatUserSessionMessages',
                dataType: 'json',
                data: data,
                success: function (result) {
                    if (result.isSuccess) {

                        //let chatUserIdKontrol = chatDiscussionElement.data("chatuserid");
                        let chatUserIdKontrol = chatdiscussion.dataset.chatuserid;

                        /*kontol et! ajax sorgusu devam ederken kullanıcı başka bir kullanıcı ile sohbet etmeye başlamış olabilir. Eğer öyleyse birşey yapma!*/
                        if (chatUserIdKontrol != chatUserId)
                            return

                        let chatuserlastmessageid2 = chatdiscussion.dataset.chatuserlastmessageid;
                        let scroll = false;
                        $.each(result.data, function (index, data) {

                            if (data.sendUserId == chatUserId)//Mesaj bana gelmiş
                            {
                                if (data.id > chatuserlastmessageid2) { chatuserlastmessageid2 = data.id; }

                                scroll = true;
                                let message =
                                    "<div class='chat-message left'>" +
                                    "<img class='message-avatar' src='/images/EmptyUser.png' alt=''>" +
                                    "<div class='message'>" +
                                    "<a class='message-author' href='#'>" + clickedUserElement.text() + "</a>" +
                                    "<span class='message-date'>" + data.dateCreated + "</span>" +
                                    "<span class='message-content'>" +
                                    data.text +
                                    "</span>" +
                                    "</div>" +
                                    "</div>"

                                chatDiscussionElement.append(message);

                            }

                        });

                        chatDiscussionElement.attr("data-chatuserlastmessageid", chatuserlastmessageid2);

                        if (scroll) { scrollBottom(1000); }


                    }
                },
                error: function (xhr, ajaxOptions, thrownError) {
                }
            })
        }

    </script>

}